<div class="navbar-container" id="menu-wrap">
    <nav class="navbar navbar-expand-md">
      <div class="collapse navbar-collapse vertical-menu" id="navbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a [routerLink]="['/home/received_todotasks']" class="nav-link">
              <img src="/assets/img/tasks.png" class="mx-1">
              Received tasks
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/home/sent_todotasks']" class="nav-link">
              <img src="/assets/img/sent.png" class="mx-1">
              Sent tasks
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/home/users']" class="nav-link">
              <img src="/assets/img/users.png" class="mx-1">
              All users
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
