<h2>Create new task</h2>

<div class="card-body pb-0">
    <div class="row d-flex align-items-stretch">
      <form class="col-12" [formGroup]="addToDoTaskModel" autocomplete="off" (submit)="createToDoTask()">
        <div class="card bg-light elevation-2">
          <div class="row">
            <div class="col-12 col-md-6 d-flex align-items-stretch">
              <div class="card-body">
                <!-- Title -->
                <div class="input-group form-group row">
                  <label for="inputTitle" class="col-sm-3 col-form-label text-muted">Title<span
                      class="ml-1 font-weight-300 color-red">*</span></label>
                  <div class="col-sm-9">
                    <div class="input-group">
                      <input class="form-control" id="inputTitle" formControlName="Title" placeholder="Title">
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="fas fa-id-card-alt"></i></span>
                      </div>
                    </div>
                    <small class="form-text text-muted">Enter title</small>
                  </div>
                  <label class="text-danger offset-sm-3 col-sm-9" *ngIf="addToDoTaskModel.get('Title').touched
                  && addToDoTaskModel.get('Title').errors?.required">
                    * Обязательное поле
                  </label>
                </div>
                <!-- Date of birth -->
                <div class="input-group form-group row">
                  <label for="datepicker" class="col-sm-3 col-form-label text-muted">Expiration date</label>
                  <div class="col-sm-9">
                    <div class="input-group">
                      <input class="form-control" placeholder="dd-mm-yyyy" id="datepicker" autocomplete="off"
                        [minDate]="{year: 1900, month: 1, day: 1}" [maxDate]="{year: 2050, month: 12, day: 31}"
                        name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" formControlName="ExpirationDate">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                          <i class="far fa-calendar-alt"></i>
                        </button>
                      </div>
                    </div>
                    <small class="form-text text-muted">Enter expiration date</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
